# Ignore Gradle project-specific cache directory

# Eclipse
.settings
.classpath
.project


# Ignore Gradle build output directory
build
.gradle
gradlew
gradlew.bat

# Java
*.class
*.jar
*.war

# other
lajixiaoxueqi
pro
bin
.vscode

WebContent/test.jsp
