@charset "UTF-8";
html {
    height: 100%;
}

body {
    color: #444;
    background-color: #eee;
    font-size: 87.5%;
    line-height: 1.5;
}

.body-100 {
    height: 100%;
}

.owncloud-wrap {
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.admin-background {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    position: fixed;
}

.wallpaper {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 0;
    opacity: 1;
    transition-property: opacity;
    background-image: url(/img/login_background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.toggle-button-box {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
}

.install-form_submit,
.login-form_submit,
.signup-form {
    display: block;
    width: 300px;
    height: 40px;
    margin: 0 auto 8px;
    border: none;
    border-radius: 4px;
    line-height: 40px;
    background-color: #25c6ff;
    color: #fff;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.install-form_submit {
    margin-top: 10px;
}

.submit-short {
    width: auto;
    padding: 0 12px;
}

.login-form {
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30vh;
    width: 363px;
}

.install-form {
    margin-top: 10vh;
    margin-left: 15vh;
    margin-right: auto;
    margin-bottom: 10vh;
    width: 550px;
}

.login-form,
.install-form {
    text-align: center;
    background-color: hsla(0, 0%, 100%, .92);
    padding: 50px 0;
    border-radius: 4px;
}

.login-form_logo-box {
    margin-bottom: 40px;
}

.login-form_logo {
    margin-bottom: 6px;
    display: inline-block;
    width: 180px;
    height: 70px;
    background-size: 180px 70px;
    background-repeat: no-repeat;
}

.login-form_phrase {
    color: #757c80;
    font-size: 12px;
    font-weight: 700;
}

.container-login {
    display: block;
}


.prompt, 
.install-input-field,
.input-field {
    position: relative;
    padding: 0;
    margin: 0 auto;
    border: 1px solid #dfebf2;
    border-radius: 0;
    border-bottom: none;
}

.input-field {
    width: 300px;
    background-color: #fff;
}

.install-input-field select,
.install-input-field {
    width: 400px;
    background-color: #fff;
}

.prompt {
    border:none;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 3px;
    padding: 0 0 0 10px;
    width: 400px;
    display: flex;
}

.prompt .error-msg {
    color: red;
    margin-left: 15px;
}

.install-input-field:first-child,
.input-field:first-child {
    border-radius: 4px 4px 0 0;
}

.install-input-field input,
.install-input-field select,
.input-field input {
    height: 40px;
    color: #000;
    display: block;
    outline: 0;
    margin: 0;
    border: none;
    border-radius: 4px;
    padding: 0 0 0 10px;
    line-height: normal;
}

.input-field input {
    width: 290px;
}

.install-input-field input {
    width: 390px;
}

input,
botton {
    overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.error-msg-list {
    list-style-type: none;
    padding-left: 0;
    margin: 8px auto;
}

.login-form-nav {
    list-style: none;
    width: 300px;
    margin: 0 auto;
    color: #666;
    font-size: 12px;
    overflow: hidden;
}

.login-form-nav .left {
    width: 50%;
}

.login-form-nav .right {
    width: 50%;
    float: right;
    text-align: right;
}

.login-form-nav .right a {
    text-decoration: none;
}

.login-form-nav .right::after {
    clear: both;
    content: "";
}

.terms {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: rgba(0, 0, 0, .32);
    width: 300px;
    margin: 16px auto 0;
}