.frame-all {
  background: #f7f7f7;
}
.module-header .module-header-wrapper {
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
}
.frame-main {
  background: #fff;
}
.frame-main .order {
  padding-top: 3px;
}
.frame-all .skin-main {
}
.module-header-wrapper .header-table .CDaavKb a {
  color: #333;
  font-size: 14px;
  font-weight: 500;
}
.module-header-wrapper .header-table .CDaavKb .icon {
  color: #7c878e;
  font-size: 17px;
}
.module-header-wrapper .header-table .gOIbzPb,
.module-header-wrapper .header-table .CDaavKb {
  color: #424e67;
}
.module-header-wrapper .header-table .header-link .header-label a {
  color: #333;
  font-weight: 500;
}
.module-header-wrapper .header-table .header-link .header-home a {
  font-family: PingFangSC-Semibold;
  font-size: 16px;
  color: #09aaff;
}
.module-header-wrapper .header-table .header-link .header-home .gICyHO {
  display: block;
  margin: 0 auto;
  background: #09aaff;
  width: 20px;
  height: 3px;
  left: 50%;
  margin-left: -10px;
}
.module-header-wrapper .header-table .CDaavKb .KQcHyA {
  color: #333;
  font-size: 12px;
  font-weight: 500;
  background: linear-gradient(-139deg, #f0d7a3 0, #efcb85 100%) #f0d7a3;
  border-radius: 100px;
}
.module-header-wrapper .header-table .gOIbzPb .BHgeMdb {
  color: #f24c43;
  font-style: normal;
}
.module-header-wrapper .header-table .CDaavKb .KQcHyA:hover {
  background: #e7c062;
}
.module-header-wrapper .header-table .Ebdyswb {
  border-left: 1px solid #adb3be;
}
.module-header-wrapper .header-table .PvsOgyb .QgxQAN a {
  color: #333;
  font-size: 12px;
  font-weight: 500;
}
.module-header-wrapper .header-table .logo {
  background-image: url(/box-static/disk-theme/theme/white/img/logo.png?t=1470151327639);
  background-image: image-set(
    url(/box-static/disk-theme/theme/white/img/logo.png?t=1470151327639) 1x,
    url(/box-static/disk-theme/theme/white/img/logo@2x.png?t=1470151327639) 2x
  );
  background-image: -webkit-image-set(
    url(/box-static/disk-theme/theme/white/img/logo.png?t=1470151327639) 1x,
    url(/box-static/disk-theme/theme/white/img/logo@2x.png?t=1470151327639) 2x
  );
  background-image: -moz-image-set(
    url(/box-static/disk-theme/theme/white/img/logo.png?t=1470151327639) 1x,
    url(/box-static/disk-theme/theme/white/img/logo@2x.png?t=1470151327639) 2x
  );
  background-image: -o-image-set(
    url(/box-static/disk-theme/theme/white/img/logo.png?t=1470151327639) 1x,
    url(/box-static/disk-theme/theme/white/img/logo@2x.png?t=1470151327639) 2x
  );
  background-image: -ms-image-set(
    url(/box-static/disk-theme/theme/white/img/logo.png?t=1470151327639) 1x,
    url(/box-static/disk-theme/theme/white/img/logo@2x.png?t=1470151327639) 2x
  );
  background-repeat: no-repeat;
  background-position: center center;
}
@media only screen and (min--moz-device-pixel-ratio: 2) {
  .module-header-wrapper .header-table .logo {
    background-image: url(/box-static/disk-theme/theme/white/img/logo@2x.png?t=1470151327639);
    background-size: 100% 100%;
  }
}
.module-header-wrapper .header-table .DIcOFyb .NxuPcOb,
.module-header-wrapper .header-table .PvsOgyb .GbFyMz {
  color: #333;
  font-size: 14px;
}
.module-header-wrapper .header-table .OMDFeH {
  color: #fff;
}
.module-header-wrapper .header-table .PvsOgyb .eQyIbEb {
  color: rgba(0, 0, 0, 0.8);
  background: linear-gradient(-139deg, #f0d7a3 0, #efcb85 100%) #f0d7a3;
  border-radius: 100px;
}
.module-header-wrapper .header-table .PvsOgyb .eQyIbEb:hover {
  background: #e7c062;
}
.g-dropdown-button.button-open .menu {
  border-color: #c3eaff;
  top: -1px;
}
.g-dropdown-button.button-open .g-button-menu {
  color: #09aaff;
}
.g-dropdown-button.button-open .g-button-menu a {
  color: #09aaff;
}
.module-aside.menu a {
  color: #666;
}
.module-aside.menu  a {
  color: #09aaff;
}
.FvBGOQ a .g-button-right,
.JKEQDvb a .g-button-right,
.FvBGOQ a:hover .g-button-right,
.JKEQDvb a:hover .g-button-right {
  color: #666;
}
.FvBGOQ a .g-button-right em,
.JKEQDvb a .g-button-right em,
.FvBGOQ a:hover .g-button-right em,
.JKEQDvb a:hover .g-button-right em {
  color: #666;
}
.module-aside.menu .QGOvsxb .tDuODs {
  color: #424e67;
}
.module-aside.menu .feNMdtb .FfOIzbb .bsBdCxb a,
.module-aside.menu .feNMdtb .KzGbKPb a {
  color: #bcc0c2;
}
.module-aside.menu .feNMdtb .FfOIzbb .bsBdCxb a {
  color: #bcc0c2;
}
.module-aside.menu .feNMdtb .KzGbKPb a:hover {
  color: #d5dae3;
}
.module-aside.menu .feNMdtb .FfOIzbb .bsBdCxb a:hover {
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
}
.module-aside.menu .QGOvsxb .GELdyA a {
  border: 0;
  color: #09aaff;
  background: 0 0;
  text-align: right;
}
.module-aside.menu .QGOvsxb .GELdyA a:hover {
  border: 0;
  color: #09aaff;
  background: 0 0;
}
.module-aside.menu .JGDHAe {
  background-color: rgba(59, 140, 255, 0.1);
  color: #09aaff;
  border: 1px solid #09aaff;
}
.module-aside.menu .EsbcNG {
  background: #fff;
  border: 1px solid #f8e4e3;
}
.module-aside.menu .EsbcNG .HEIExKb {
  color: #f54240;
  font-size: 14px;
}
.module-aside.menu .EsbcNG .yQzHsOb {
  display: block;
  background: #f54240;
  color: #808080;
  border: 1px solid #f54240;
  border-radius: 10px;
  text-align: center;
}
#layoutMain {
}
#layoutServiceHolder {
  right: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.logo-top {
  display: inline-block;
  width: 90px;
  height: 32px;
  background-size: 90px 32px;
  background-repeat: no-repeat;
  background-image: url(../img/logo.png);
}
