body,
button,
input,
select,
textarea {
    color: rgb(102, 102, 102);
}

body {
    background-color: #fff;
}

#layoutApp {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.frame-all {
    background-color: #f7f7f7;
}

.layout-header {
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 62px;
    z-index: 41;
    position: absolute;
}

.header {
    position: relative;
    height: 62px;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.05);
}

.top-bar {
    width: 100%;
    height: 40px;
    font-size: 12px;
    margin-top: -20px;
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 0;
}

.top-bar .logo {
    width: 142px;
    height: 32px;
    margin: 4px 0;
    margin-left: 20px;
    vertical-align: middle;
    float: left;
    background-image: url(/img/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.top-bar .logo a {
    height: 100%;
    display: block;
}

.top-bar .logo a:link {
    outline: 0;
    text-decoration: none;
}

.top-bar .app-list {
    width: auto;
    height: 100%;
    padding-left: 34px;
    position: relative;
    float: left;
}

.top-bar .app-list .item-wrap {
    display: inline-block;
    font-size: 16px;
    height: 42px;
    line-height: 38px;
    margin: 0 25px;
    vertical-align: middle;
    position: relative;
}

.top-bar .app-list .item-wrap a {
    display: block;
    padding: 0 2px;
}

.top-bar .app-list .item-wrap a:link {
    outline: 0;
    text-decoration: none;
}

.top-bar .app-list dd {
    display: block;
    margin-inline-start: 4opx;
}

.top-bar .user-info-wrap {
    color: #424e67;
    margin-right: 10px;
    position: relative;
    height: 100%;
    float: right;
}

.top-bar .user-info-wrap .user-info {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-right: 15px;
}

.top-bar .user-info-wrap .user-info .usernam {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
}

.layout-aside {
    width: 194px;
    height: 100%;
    top: 62px;
    left: 0;
    bottom: 0;
    z-index: 9;
    position: absolute;
}

.aside-wrap {
    padding-top: 10px;
    height: 100%;
}

.aside-wrap ul {
    display: block;
}

.aside-wrap a {
    display: block;
    position: relative;
    height: 45px;
    line-height: 45px;
    padding: 0 0 0 15px;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    zoom: 1;
}

.aside-wrap .item-box {
    position: relative;
    display: block;
    width: 115px;
    padding-left: 38px;
    cursor: pointer;
}

.aside-wrap .item-box .icon {
    top: 12px;
    position: absolute;
    left: 10px;
    font-size: 16px;
}

.layout-main {
    top: 62px;
    left: 194px;
    bottom: 0px;
    right: 10px;
    z-index: 1;
    background-color: #fff;
    position: absolute;
}

.tool-bar {
    height: 55px;
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding-top: 3px;
    padding: 4px 0 3px;
    zoom: 1;
    margin: 0;
}

.right-first-box {
    margin: 12px 18px 10px 0;
    float: right;
}

.right-first-box a {
    color: #666;
}

.right-second-box {
    float: right;
    position: relative;
    margin: 12px 15px 10px 0;
}

.right-second-box a {
    color: #666;
}


.item-icon {
    background-position: center center;
    text-decoration: none;
    height: 30px;
    width: 30px;
    float: left;
    font-size: 16px;
    text-align: center;
    line-height: 32px;
}

.tool-bar .search-box {
    float: right;
    width: 21%;
    height: 30px;
    margin: 12px 8px 12px 0;
    position: relative;
}

.tool-bar .search {
    padding-left: 15px;
    padding-right: 54px;
    background: #f1f2f4;
    border-radius: 33px;
}

.search input {
    width: 100%;
    height: 30px;
    background: 0 0;
    border: 0;
    outline: 0;
    line-height: 29px;
    position: relative;
    font-size: 12px;
}

.search .icon {
    display: block;
    width: 15px;
    height: 15px;
    border: 0;
    position: absolute;
    top: 6px;
    font-size: 14px;
    outline: 0;
    cursor: pointer;
    right: 13px;
    color: #666;
}

.tool-bar-left {
    height: 33px;
    padding: 11px 10px;
    margin-right: 372px;
}

.tool-bar-left .tool {
    position: absolute;
    top: 0;
    line-height: normal;
    padding-top: 11px;
    padding-right: 0px;
    width: auto;
}

.tool .tool-button {
    margin: 0 5px;
    vertical-align: top;
}

.tool .tool-button2:link {
    color: #09AAFF;
}

.tool .tool-button2 {
    text-decoration: none;
    border: 1px solid #c3eaff;
    border-radius: 4px;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
}

.tool-button2 .right {
    height: 32px;
    line-height: 32px;
    padding-right: 10px;
    text-align: center;
    cursor: pointer;
    position: relative;
    right: -1px;
    display: block;
}

.tool-button2 .right .text {
    font-size: 13px;
    margin-left: 2px;
    margin-right: 2px;
    vertical-align: baseline;
    display: inline-block;
}