a {
  color: #696b83;
  text-decoration: none;
}
a:active {
  background: #afc1dc;
}
.downloadbutton {
  height: 18px;
  line-height: 18px;
  padding: 0 11px;
  background: rgb(120, 127, 162);
  border: 1px #e5e7ea solid;
  border-radius: 3px;
  display: inline-block;
  font-size: 12px;
  outline: none;
}
input {
  color: #696b83;
  text-decoration: none;
}
input:active {
  background: #afc1dc;
}
.uploadbutton {
  height: 20px;
  line-height: 18px;
  padding: 0 11px;
  background: rgb(120, 127, 162);
  border: 1px #e5e7ea solid;
  border-radius: 3px;
  display: inline-block;
  font-size: 12px;
  outline: none;
}